{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Golden Hands</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">


  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="{% static 'css/goha.css' %}">

	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="static/js/bootstrap.js"></script>
    {{ form.media }}


</head>

<body>

	<div class="start-page-header">
	<h1>Golden Hands<br/></h1>
	<h2>Lets get together and create</h2>
	</div>



	 			{% block content %}
        		{% endblock %}



</body>
</html>