<!DOCTYPE html>
{% extends 'goha/base_start.html' %}    
        

    {% block content %}
    

    <div class="container">
            <div class="row">
        
                <div class="col-sm-2">          
                </div>
        
                <div class="col-sm-8">
                    <h1>So, who are we inviting?</h1>

            
                    
                </div>

            <div class="col-sm-2">          
                
                
            </div>
    </div>

        

    {% endblock %}

        