<!DOCTYPE html>
{% extends 'goha/base_start.html' %}    
        

    {% block content %}
    

    <div class="container">
            <div class="row">
        
                <div class="col-sm-2">          
                </div>
        
                <div class="col-sm-9">
                    
                    <h1>The hostess with the mostess!</h1> <br>

                    <form  class="form" action="." method="POST" >
                        
                        {% csrf_token %}
                        
                        {{ form.as_p }}
                       
                        
                                             
                    <input id="submit" type="submit" value="Next Step - the guests">
                    
                    </form>
                    
                   

                </div>

            <div class="col-sm-1">          
                
                
            </div>
    </div>

        

    {% endblock %}

        