<!DOCTYPE html>
{% extends 'goha/base_start.html' %}    
        

    {% block content %}
    

    <div class="container">
            <div class="row">
        
                <div class="col-sm-2">          
                </div>
        
                <div class="col-sm-8">
                    <h1>Welcome! You want to host the next gathering of Golden Hands? Awesome! Lets get to it!</h1>

            
                    <br />
                    

                    <form  id="user_form" class="form" action="" method="POST" enctype="multipart/form-data">
                   
                   {% csrf_token %}
                    {{ form.as_p }}
                    <input id="submit" type="submit" value="Submit">
                    </form>
                    
                   
                </div>

            <div class="col-sm-2">          
                
                
            </div>
    </div>

        

    {% endblock %}

        